{% extends 'base.html' %}
{% load staticfiles %}
{% block csscontent %}
  <!-- Ionicons -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
  <!-- Theme style -->
{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title.0 }}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="assets_list_table" class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <th>机房名称</th>
                        <th>机房类型</th>
                        <th>主机数量</th>
                        <th>机房带宽</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for idc in idcs %}
                        <tr>
                            <td>{{ idc.name }}</td>
                            <td>{{ idc.get_type_display}}</td>
                            <td>{{ idc.server_set.all.count | default:"0" }}</td>
                            <td>{{ idc.bandwidth }}</td>
                            <td>{{ idc.create_time }}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'idc_edit' idc.uuid %}" class="btn btn-sm btn-info">编辑</a>
                                    <button  class="btn btn-danger" id="asset_del" data-uid="{{ idc.uuid }}" >删除</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tfoot>

            </table>
        </div>
        <div class="card-footer">
            <button type="button" onclick="addAssets()" class="btn-sm btn-success" id="add-label">添加</button>
            <button type="button" class="btn-sm btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">删除</font></font></button>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}
{% block jscontent %}
    {% include '_foot_table.html' %}
    <script>
        function addAssets(){
            window.location.href = "{% url 'idc_add' %}";
        }
        function initTable(){
            var options = {
                ele : $("#assets_list_table"),
                pageLength: 10,
                columns : [
                    {data: 'idc_name'},
                    {data: 'idc_type'},
                    {data: 'idc_server_total'},
                    {data: 'idc_bandwidth'},
                    {data: 'idc_uuid',orderable: false}
                ]
            };
            return cmdb.initDataTable(options);
        }

        $(document).ready( function () {
                    //$('#assets_list_table').DataTable();
                    initTable();
                })
                .on('click','.asset_del',function(){
                    console.log('this step1');
                    var $this = $(this);
                    var $data_table = $("#assets_list_tale").DataTable();
                    var name = $(this).closest("tr").children().first().html();
                    var uid = $this.data('uid');
                    var the_url = "{% url 'idc_del' %}?id=" + uid;
                    objectDelete($this, name, the_url);
                    setTimeout( function () {
                        $data_table.ajax.reload();
                        console.log('step 4')
                    }, 1000);


                })
        ;
    </script>
{% endblock jscontent %}