{% load staticfiles %}

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<!-- Theme style -->
<link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fortress.css' %}">
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
<!-- Google Font: Source Sans Pro -->
{#<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">#}